@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&family=Josefin+Slab:wght@300&family=Press+Start+2P&family=Source+Sans+Pro:wght@300&display=swap');

html
{
   width:100%;
   height:100%;
}

body
{
  font-family: 'Source Sans Pro', sans-serif;

}

header{
  background-color: whitesmoke;
}


.nav{
  display: inline;
  margin-right: 60px;
  vertical-align: middle;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
}

h2{
  font-family: 'Josefin Slab', serif;
  font-size: 3vw;
}

table{
  width: 100%;
}

td{

}

li a {
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 8px;
  color: black;
  border-color: black;
}

label{
  display: block;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 1vw;
}

input{
  display: block;
}

.job_title{
  font-family: 'Hind Madurai', sans-serif;
}

.employer{
  font-family: 'Hind Madurai', sans-serif;
  color: darkgray;
}
