@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&family=Yeseva+One&display=swap');


html
{
   width:100%;
   height:100%;
}

body
{
  font-family: 'Source Sans Pro', sans-serif;

}

header{
  background-color: whitesmoke;
}


.nav{
  display: inline;
  margin-right: 60px;
}

h1{
  font-family: 'Yeseva One', cursive;
}

table{
  width: 100%;
}

li a {
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  padding: 4px 8px;
  color: black;
  border-color: black;
}


.job_title{

}

