@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&family=Josefin+Slab:wght@300&family=Press+Start+2P&family=Source+Sans+Pro:wght@300&display=swap');

html
{
   width:100%;
   height:100%;
}

body
{
  font-family: 'Source Sans Pro', sans-serif;
  width:100%;
  height:100%;
}

header{
  
}

span{
  display: block;
}

.nav{
  display: inline;
  margin-right: 60px;
  vertical-align: middle;
  display: inline-block;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 4vw;
}

h2{
  font-family: 'Josefin Slab', serif;
  font-size: 3vw;
}

table{
  width: 100%;
  padding: 30px;
}

td{

}

a{
  color: black;
}

i{
  font-size: 1vw;
}

li.nav a {
  text-decoration: none;
  font-size: 20px;
}

li.nav a:hover {
  text-decoration: underline;
}

ul {
  
  list-style-type: "■ ";
}

label{
  display: block;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 2vw;
}

input{
  display: block;
  font-size: 1.5vw;
  width: 80%;
}

textarea{
  height: 200px;
  width: 80%;
  font-size: 1.5vw;
}

.job_title{
  font-family: 'Hind Madurai', sans-serif;
}

.employer{
  font-family: 'Hind Madurai', sans-serif;
  color: darkgray;
}
